<ion-content >

  <ion-grid class="profile">
    <ion-row>
      <ion-col class="name-section" size="12">
        <img class="profile-image" [src]="profile.avatar"  alt="" srcset="">
        <h2>{{ profile.name }} {{ profile.lastName }}</h2>
        <p>{{ profile.email }}</p>
      </ion-col>
    </ion-row>

    <ion-row class="sections">
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item>
            <ion-icon  slot="start" name="person-circle-outline" color="primary"></ion-icon>
            <ion-label>Información de la cuenta</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="sections">
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item>
            <ion-icon slot="start" name="people-outline" color="primary"></ion-icon>
            <ion-label>Invitar Amigos</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="document-text-outline" color="primary"></ion-icon>
            <ion-label>Terminos del Servicio</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="sections">
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item (click)="handleLogoutButton()">
            <ion-icon slot="start" name="exit-outline" color="primary"></ion-icon>
            <ion-label>Salir</ion-label>
            <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
      
    </ion-row>

  </ion-grid>

</ion-content>
