<ion-content>
  <ion-grid style="padding: 0; background-color: white;">
    <ion-row style="padding: 0.5rem; ">
      <ion-col size="10">
        <div class="welcome">
          Hola, <span class="name">Osmar</span>
          <div class="street-info">
            <ion-icon name="compass-outline"></ion-icon>
            {{ enterpriseSelected.name }}
            <br>{{ enterpriseSelected.address }}
          </div>
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="notification">
          <!--<div class="notification-brage">
            <ion-badge color="primary">11</ion-badge>
            <ion-icon name="notifications-outline"></ion-icon>
          </div>-->
        </div>
      </ion-col>
    </ion-row>
    <!--<ion-row style="padding: 0.5rem;">
      <ion-searchbar
        placeholder="Buscar servicio o especialista..."
      ></ion-searchbar>
    </ion-row>-->
    <ion-row style="padding: 0.5rem;">
      <div class="services">
        <div class="service-display" (click)="handleFilterByCategories(null)">
          <div class="icon">
            <img src="assets/images/hair-salon.png" alt="" srcset="" />
          </div>
          <div class="name">Todos</div>
        </div>
        <div class="service-display" *ngFor="let categorie of categories" (click)="handleFilterByCategories(categorie)">
          <div class="icon">
            <img [src]="'assets/images/'+categorie.logo" alt="" srcset="" />
          </div>
          <div class="name">{{ categorie.name }}</div>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="12"
        ><div class="titulo-seccion">Servicios <span *ngIf="categorieFilter">{{ categorieFilter.name }}</span></div></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div >
          <ion-card
            *ngFor="let service of services"
            class="discoer-services-populars"
            (click)="handleOnSelectService(service)"
          >
            <ion-card-content>
              <div class="description">
                <ion-row>
                  <ion-col size="10">
                    <p class="name">{{ service.name }}</p>
                    <p class="precio">
                      {{ service.time }} Min -
                      <span class="price">S/ {{ service.price }}</span>
                    </p>
                  </ion-col>
                  <ion-col size="2">
                    <ion-checkbox
                      mode="ios"
                      [(ngModel)]="service.selected"
                    ></ion-checkbox>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="book-appointment">
    <ion-row>
      <ion-col>
        <ion-button expand="full" shape="round" [color]="isActiveBookAppointment()" (click)="handleActionBookAppointmentButton()"
          >Reservar Cita</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--<app-booking-appointment-modal [isModalOpen]="isModalOpen" [services]="servicesSelected"></app-booking-appointment-modal>-->
