
.profile {
    padding: 0;
    .name-section {
        text-align: center; background-color: white; padding-top: 1rem;
        h2{
            margin-bottom: 0; font-weight: bold;
        }
        p{
            margin-top: 0; color: #92949c
        }
        img{
            width: 35%; border-radius: 50%;
        }
    }
    .sections {
        padding: 0 0.3rem;
    }
}